# This is a basic workflow to help you get started with Actions

name: Docker build & Push

# Controls when the action will run. 
on:
  push:
    tags:
      - '*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Get version
        id: get_version
        run: echo "SEAT_IMAGE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - name: Publish to Github Repo
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: seat
          addLatest: true
          tags: 5, 5.0, ${{ env.SEAT_IMAGE_VERSION }}
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }} 
      - name: Publish to Docker Repo
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: eveseat/seat
          addLatest: true
          tags: 5, 5.0, ${{ env.SEAT_IMAGE_VERSION }}
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
